<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section about">
        <a class="navbar-brand" routerLink="/">
          <img src="https://www.ual.es/application/themes/ual/images/logo-ual.png" alt="UAL Logo" style="height: 40px; width: auto;">
        </a>
        <p>Your trusted source for scientific publications and article uploads.</p>
      </div>
      <div class="footer-section links">
        <h4>Quick Links</h4>
        <ul>
          <li >
            <a routerLink="/">Home</a>
          </li>
          <li >
            <a routerLink="/publications">Publications</a>
          </li>
          <li>
            <a routerLink="/upload">Upload Article</a>
          </li>
        </ul>
      </div>
      <div class="footer-section contact">
        <h4>Contact Us</h4>
        <p>Email: support&#64;academichub.com</p>
        <p>Phone: +212 688-297989</p>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2025 AcademicHub. All rights reserved.</p>
    </div>
  </div>
</footer>
